version: 2
jobs:
  fetch_and_commit:
    docker:
      - image: cimg/python:3.12
    steps:
      - checkout
      - run:
          command: |
            sudo pip3 install requests
            python dump_petitions.py
            git config --global user.email "uk_petitions@jonty.co.uk"
            git config --global user.name "Petition Update Bot"
            git add petitions
            git commit -m "Automatic petitions update [skip ci]" \
            || true
            git push -q https://${GITHUB_PERSONAL_TOKEN}@github.com/jonty/uk_petitions_data.git master \
            || true
workflows:
  version: 2
  build:
    jobs:
      - fetch_and_commit
  automatic_update:
    triggers:
      - schedule:
          cron: "0,30 * * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - fetch_and_commit
